body{
    margin: 0px;
}
.view{
    background-color: rgb(224, 169, 169);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border:3px solid #35a327;
    width: 500px;
    height: 500px;
}
canvas{
    /*position: absolute;*/
}
.f1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: canvas1;
    border:3px solid #d80707;
}
.b1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: canvas2;
    border:3px solid #d80707;
}
.f2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: canvas3;
    border:3px solid #d80707;
}
.b2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: canvas4;
    border:3px solid #d80707;
}
.f3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-area: canvas5;
    border:3px solid #d80707;
}
.b3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-area: canvas6;
    border:3px solid #d80707;
}
.images{
    display:none;
}
.container{
    display: grid;
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 2fr);*/
    grid-template: 'canvas1 canvas2''canvas3 canvas4''canvas5 canvas6';
    grid-gap: 5px;
    grid-auto-rows: 500px;
    height: auto;
    width: auto;
}
@media only screen and (max-width: 1000px) {
    .container{
        display: grid;
        /*grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 2fr);*/
        grid-template: 'canvas1 canvas2''canvas3 canvas4''canvas5 canvas6';
        grid-gap: 5px;
    }
    .view{
        background-color: rgb(255, 255, 255);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        border:3px solid #35a327;
        width: 500px;
        height: 500px;
    }
    .f1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-area: canvas1;
        border:3px solid #d80707;
    }
    .b1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-area: canvas2;
        border:3px solid #d80707;
    }
    .f2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-area: canvas3;
        border:3px solid #d80707;
    }
    .b2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-area: canvas4;
        border:3px solid #d80707;
    }
    .f3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-area: canvas5;
        border:3px solid #d80707;
    }
    .b3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        grid-area: canvas6;
        border:3px solid #d80707;
    }
}